/* Reset general */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* Cabecera */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Menú principal */
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 1rem;
}

#menu button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

#menu button:hover {
    background-color: #0056b3;
}
